# Бинарные файлы
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы тестов
*.test

# Временные файлы
*.out

# IDE и редакторы
.idea/
.vscode/
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Файлы окружения
Server/.env
.env
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
Client/.flutter-plugins
Client/.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Кэш go modules
/pkg/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/Client/android/app/debug
/Client/android/app/profile
/Client/android/app/release
